{% extends 'catalog/base.html' %}
{% block content %}
{% load my_tags %}
<style>
p {
    word-break: break-all;
    white-space: normal;
}








</style>
<article class="blog-post">
    <p>{{ product.category }}</p>
    <img src="/media/{{product.image}}"/>
    <div>
        <h2 class="display-5 link-body-emphasis mb-1">{{ product.title }}</h2>
        <h5 class="card-title">Name: {{ product.name|title }}</h5>
        <p>
            Description: {{ product.description }}
        </p>
        <button type="button" class="btn btn-outline-success" style="max-width: 100%;">
            Buy For
                <h4>
                    ${{ product.price }}
                </h4>
        </button>
        <hr>
        <p class="fw-light">Created date: {{ product.create_date}}</p>
        <p>Last update: {{ product.date_last_change }}</p>
    </div>
</article>

{% endblock %}

