{% extends 'catalog/base.html'%}

{% block content %}
{% load my_tags %}
{% for product in product_list %}
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{% mediapath product.image %}"
         alt="Card image cap">
    <div class="card-body">
        <h4 class="card-title">{{ product|title }}</h4>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{ product.create_date }}</h6>
        <p class="card-text">{{ product.description|slice:"0:100" }}...</p>
        <h1 class="card-title pricing-card-title">{{ product.price }}$<small class="text-muted">/peace</small></h1>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
{% endfor %}
{% endblock %}
